:root{
    --sky-color:#87ceeb;  
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    background-color: #bae1ff;
}

.btnWorld{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
}

.worldButtons{
    width: 100px;
    height: 50px;
    border-radius: 20px/50px;
    border: 2px solid #87ceeb;
    border-width: medium;
    background: transparent;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.worldButtons:hover{
    background-color: rgb(40, 108, 131);
    color:white;
}

#logo{
    position: relative;
    height: 100vh;
    width: 150px;
    background-image: url("/images/Logo1.png");
    background-repeat: no-repeat;
    background-position: center;
}

#backBtn{
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-right: 30px;
    border: none;
    color: teal;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#backBtn:hover{
    color: var(--sky-color);
}

/* Right side */
#tools{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 880px;
    width: 20%;
    padding-top: 30px;
    background-color: #bae1ff;

}

#tools .tool{
    height: 100px;
    width: 100px;
    border: solid var(--sky-color);
    margin-bottom: 20px;
    margin-left: 36%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;   
    border-radius: 20px;
}

#tools .tool:hover{
    background-color: var(--sky-color);
}

#tools #pickaxe{
    background-image: url("/images/Pickaxe.png");
}

#tools #axe{
    background-image: url("/images/axe.png");
}

#tools #shoval{
    background-image: url("/images/Shovel.png");
}

#tools #msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color:white;
    background-color: red;
    display: none;
}

#tools h3{
    width: 100%;
    text-align: center;
}

#tools .toolsDown{
    position:relative;
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 35px;
}

#tools .toolsDown h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    color:white;
}

#tools .toolsDown h2:hover{
    color:teal
}

#tools .toolsDown .row{
    position: relative;
    display: flex;
    flex-direction: column;
}
#tools .toolsDown .row .inve{
    display: flex;
    justify-content: space-evenly;
}

#tools .toolsDown .count{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;

}

#tools .toolsDown .divInve{
    height: 70px;
    width: 70px;
    border: solid var(--sky-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor:pointer;	
    border-radius: 20px;
}

#tools .toolsDown #reset{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    margin-left: 90px;
    border:none;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#tools .toolsDown #reset:hover{
    background: var(--sky-color);
}

/*  */

.wrap{
    height: 100vh;   
    padding-top: 25px;
}

#world{
    display: flex;
    flex-wrap:wrap;
    height:fit-content; 
    width: 1250px;
}

.tile{
    /* border: solid thin black; */
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile:hover{
    border: solid thin lightgray;
}

.sky{
    background-color: var(--sky-color);
}

.grass{
    background-image: url("/images/grass.png");  
}

.cloud{
    background-image: url("/images/cloud.png");
}

.rock{
    background-image: url("/images/rock.png");
}

.soil{
    background-image: url("/images/soil.jpg");
}

.treeLeaves{
    background-image: url("/images/tree-leaves.png");
}

.wood{
    background-image: url("/images/wood.png");
}

.sun{
    background-color: yellow;
}


/*  */
