@media(max-width: 500px) {
    body{
        height: 100vh;
    }
    
    .wrap{
        height: 100vh;   
        padding-top: 0px;
    }
    
    #world{
        display: flex;
        flex-wrap:wrap;
        height:fit-content; 
        width: 1250px;
    }
    
    .tile{
        /* border: solid thin black; */
        width: 40px;
        height: 40px;
    }

    #tools .toolsDown #reset{
        margin-left: 0;   
    }
} 

/* 768 */

@media(max-width: 768px){
    body{
        height:fit-content;
        display: flex;
        flex-direction: column;
        background-color: #bae1ff;
    }

    #logo{
        position: relative;
        height: 50%;
        width: 50%;
        background-image: url("/images/Logo1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .wrap{
        height: fit-content;   
        width: 800px;
        padding-top: 25px;
    }
    
    #world{
        display: flex;
        flex-wrap:wrap;
    }
    
    .tile{
        /* border: solid thin black; */
        width: 20px;
        height: 20px;
    }

    #tools{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        background-color: #bae1ff;
        margin-left: 180px;
    
    }
    #tools .toolsUp{
        display: flex;
        flex-direction: column;
    }
    #tools .tool{
        height: 50px;
        width: 50px;
        border: solid var(--sky-color);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        cursor: pointer;   
        border-radius: 20px;
    }
    
    #tools h3{
        width: 100%;
        text-align: center;
    }
    
    
    #tools .toolsDown{
        position:relative;
        width: 75%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 35px;
    }
    
    #tools .toolsDown h2{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 20px;
        color:white;
    }
    
    #tools .toolsDown .row{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    #tools .toolsDown .row .inve{
        display: flex;
        justify-content: space-evenly;
    }
    
    #tools .toolsDown .count{
        height: 30px;
        width: 30px;
        font-size: 20px;
    
    }
    
    #tools .toolsDown .divInve{
        height: 50px;
        width: 50px;
    }
    
    #tools .toolsDown #reset{
        
    }
    
}